/*******  GaZoobie 11
************************************/
* {
    box-sizing: border-box;
}
.container {
    width: min(1240px, 100%);
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    gap: 8px 1%;
    padding: 0 8px;
    justify-content: space-between;
}
.columns, .column {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    flex-direction: column;
    align-items: stretch;
}
.row {
    display: flex;
    gap: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}
.container ul, .container ol {
    margin-left: 2%;
    margin-right: 10px;
}
.container.centerstack {
    flex-flow: column;
    align-items: center;
}
.container .columns .container, .columns .columns {
    padding: 0;
    margin: 0;
}
.rows {
    flex-basis: 100%;
    padding: 5px;
}
.one {
    flex-basis: 7.33%;
}
.two {
    flex-basis: 15.66%;
}
.three, .qrt {
    flex-basis: 24%;
}
.four, .one-third {
    flex-basis: 32.33%;
}
.five {
    flex-basis: 40.66%;
}
.six {
    flex-basis: 48%;
}
.seven {
    flex-basis: 57.33%;
}
.eight {
    flex-basis: 65.66%;
}
.nine {
    flex-basis: 74%;
}
.ten {
    flex-basis: 82.33%;
}
.eleven {
    flex-basis: 90.66%;
    ;
}
.twelve {
    flex-basis: 100%;
}
.span {
    flex: 1;
}
figure {
    display: flex;
}
figure iframe {
    max-width: 100%;
    margin: auto;
}
/* Form Flex */
.form-row {
    margin: 12px 0;
    flex-direction: column;
}
/* Column align */
.col-centermargin, .center-column {
    margin: 0 auto;
}
.col-maxwidth, .stretch-columns {
    align-items: stretch;
}
.col-centerhrz, .center-hrz {
    align-items: center;
    align-content: center;
}
.col-centervrt, .center-vrt {
    align-content: center;
    align-items: center;
}
/* Row align */
.row-right {
   justify-content: flex-end; 
}
/* Mobile Flex */
@media all and (max-width: 768px) {
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {
        flex-basis: 100%;
    }
    .container .columns .container, .columns .columns {
        padding: 0;
        margin: 0;
    }
    .qrt {
        flex-basis: 50%;
        flex-flow: wrap;
    }
    /* Mobile Specialty Classes */
    .mobileDouble {
        flex-basis: 49% !important;
        flex-flow: wrap;
    }
    .mobileTriple {
        flex-basis: 32.333% !important;
        flex-flow: wrap;
    }
    .mobileclear, .mobilebreak {
        clear: both;
        display: block;
        overflow: hidden;
    }
    .mobilehide {
        display: none !important;
        visibility: hidden !important;
    }
    .mobileshow {
        display: inherit !important;
        visibility: visible !important;
    }
}
